@font-face {
	font-family: 'Burbank Big Regular Black';
	src: url('BurbankBigRegularBlack.woff') format('woff'),
		 url('BurbankBigRegularBlack.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Burbank Big Regular Black', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #201c1c;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	margin-top: 25px;
	color: white;
	font-size: 1.5vw;
}

a {
	text-decoration: none;
}

p a {
	color: #6441a5
}

p a:hover {
	color: hsl(261, 43%, 35%)
}

main, div {
	border-radius: 5px;
	font-size: 2vw;
}

main {
	background-color: #6441a5;
}

main a, input {
	display: block;
	text-decoration: none;
	color: black;
}

main a {
	padding: 25px;
}

label {
	color: #6441a5;
	font-size: 2vw;
	padding-bottom: 15px;
}

input {
	width: 26vw;
	text-align: center;
}

#token {
	position: absolute;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

a:hover {
	color: #201c1c;
}